*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.logo{
    height: 50px;
    width: 110px;
    position: relative;
    left: 70px;
    top: 30px;
}
.input{
    position: relative;
    left: 110px;
    top: 10px;
}
.signup{
    position: relative;
    left: 70%;
    border: none;
}
.signin{
    position: relative;
    left: 72%;
    border: none;
    border-radius: 5px;
    background: rgb(42, 42, 245);
    padding: auto;
    width: 90px;
    height: 30px;
    color: #ffffff;
    font-weight:bold;
    text-align: center;
}